.comment_text{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 2rem;   
}

ul{
    list-style: none;
    position: absolute;
    top: 20vh;
    right: 0;
    width: 500px;
    height: 90vh;
    background:  rgba(35, 35, 46, 0.644);
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    border-radius: 40px;   
}

ul.active {
    transform: translate(0)
}

@media only screen and (max-width: 440px){
    ul{
        width: 100vw;
    }
  }

