.videosiderbar {
    position: absolute;
    top: 50%;
    right: 0px;
    color: white;
}

.videosiderbar_options {
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 440px){
    .videosiderbar{
        top: 40%;
    }
  }